@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<img src="https://media.discordapp.net/attachments/1168306139549671515/1198646066304798861/hii.gif" />
<h1>@ViewData["SubMessage"]</h1>
<p>Us this area to provide additional information.</p>
